openpyxl
streamlit
openai
streamlit-authenticator
pandas
streamlit-audiorec
audio-recorder-streamlit
gspread-dataframe
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client